.root{
    -fx-background-image: url("/images/matchbg.jpg");
    -fx-padding: 10;
    -fx-alignment: center; 
    -fx-spacing: 20;
}

VBox, HBox{
    -fx-padding: 10;
    -fx-alignment: center; 
    -fx-spacing: 10;
}

.label{
    -fx-font-family: 'sans-serif';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-text-fill:#000000;
}

FlowPane{
    -fx-hgap: 10;	 
    -fx-alignment: center;
    -fx-column-halignment:center;	 	 
}

#playerPane{
    -fx-background-color: #ccd6ff;
}

#opponentPane{
    -fx-background-color: #b3e6cc;
}

#tablePane{
    -fx-background-color: #ffd699;
}


